
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

documents/year_3/semester_2/Special Topic in Data Engineering/Tutorial 2 - Apache Spark/spark-etl-project/raw/censo_2021.zip
documents/year_3/semester_2/Special Topic in Data Engineering/Tutorial 2 - Apache Spark/censo_2021.zip
documents/year_3/semester_2/Special Topic in Data Engineering/Tutorial 2 - Apache Spark/spark-etl-project/raw/2021/microdados_ed_basica_2021/dados/microdados_ed_basica_2021.csv

